.navPadding {
  padding-top: 48px;
}

.about {
  color: white;
  text-align: left;
}

h1, h2 {
  margin-bottom: 0;
}

p {
  margin: 5px auto;
}

.missionTitle {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 8px;
}

.statment {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
}