.businessCard {
  width: 300px;
  background-color: #f76c6c!important;
  padding: 10px;
}

.businessCard h3 {
  font-size: 25px;
  margin: 0;
}

.businessCard span {
  font-size: 20px;
}

.contactName {
  display: block;
  font-style: italic;
}

.location {
  display: block;
  margin-top: 10px;
}