.business {
  color: #24305e;
  background-color: #a8d0e6;
  padding: 8px;
  max-width: 400px;
  margin-top: 8px;
  border-radius: 13px;
}

.hours {
  width: 100%;
}

.day {
  margin-bottom: 8px
}

.dayDetails {
  width: 100%;
  display: block;
}

.business h2, .business h3 {
  margin: 8px 0;
}

.contactInfo {
  display: flex;
}

.business .icon {
  transform: scaleX(-1);
  height: 20px;
}

/* The Modal (background) */

.modal {
  position: absolute;
  color: black;
  z-index: 1;
  left: 50%;
  top: 48px;
  padding: inherit;
  width: 100%;
  transform: translate(-50%, 0);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */

.modal-content {
  margin: auto;
  max-width: 500px;
}

/* The Close Button (x) */

.close {
  z-index: 1;
  line-height: 0;
  position: absolute;
  right: -5px;
  top: 8px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.imgcontainer {
  position: relative;
}