.categoryButton {
  width: 300px;
  min-height: 50px;
  font-size: 25px;
  background-color: #24305e;
}

ul {
  list-style-type: none;
  padding: 8px 0 0 0;
  margin: 0;
}

li {
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}

.fontTwenty {
  font-size: 20px;
}