.collapsible {
  background-color: #a8d0e6;
  color: black;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  width: 100%;
  max-width: 450px;
  position: static;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

@media (hover:hover) {
  .collapsible:hover, .collapsible:focus {
    background-color: #6D9FE9;
  }
}

.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  max-width: 450px;
}

.plusMinusIcon {
  color: black;
  float: right;
  width: 20px;
  height: 20px;
}

/* Form styling */

.displayBlock input {
  height: auto;
}

.formTitle {
  color: black;
  font-weight: bold;
  font-size: 23px;
  background: none;
}

legend {
  width: 100%;
  position: relative;
  top: 7px;
  margin-bottom: 12px;
  background: #24305e;
  color: white;
}

input, select {
  padding: 5px;
  height: 34px;
  font-size: 16px;
  background-color: white;
}

.hourDisplay {
  width: 125px;
}

@media (max-width:426px) {
  .displayInline {
    display: block!important;
    text-align: center;
  }
  .hourDisplay {
    display: block;
    margin: 5px auto!important;
  }
  .content select, .content option, .modal-content select, .modal-content option {
    width: 100%!important
  }
  form label {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .content input, .content select, .adminLogin input {
    margin: 5px 0 5px 0;
    max-width: 100%
  }
}

@media (min-width:426px) {
  .displayInline {
    display: inline-block!important;
    width: 50%;
    margin: auto;
  }
  .content select, .content option, .modal-content select, .modal-content option {
    width: 208.4px!important
  }
  form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}