.aboutButton {
  background: none;
  color: #24305e;
  border: none;
  font-size: 20px;
  font-family: inherit;
}

.fullCentered .aboutButtonAnchor {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
}