* {
  box-sizing: border-box;
}

html, body {
  font-family: Verdana, sans-serif;
}

body {
  background-color: #24305e;
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
  padding: 8px;
  overflow: auto;
}

.componentLayout {
  /* margin-top: 48px; */
  padding-top: 48px;
  color: white;
  text-align: center;
}

.componentResults {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.displayBlock {
  display: block!important;
  margin: 0 auto;
}

.fullCentered {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.white {
  background-color: white!important;
}

p a {
  display: block;
}